.body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: calc(25px * 16);
  height: calc(25px * 16);
  background-color: #9bba5a;
  color: rgba(0,0,0,0.75);
  border: 3px solid rgba(0,0,0,0.75);
}
.start{
  border: none;
  background: none;
  font-weight: bold;
  font-size: 25px;
  color: rgba(0,0,0,0.75);
  font-family: 'Press Start 2P', cursive;

}