.game{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(25px * 16);
  height: calc(25px * 16);
  background-color: #9bba5a;
  color: rgba(0,0,0,0.75);
  border: 3px solid rgba(0,0,0,0.75);
  outline: none;
  position: relative;
  .cell{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 25px;
    height: 25px;
    position: relative;
  }
  .snake{
    background-color: #738f48;
    width: 25px;
    height: 25px;
    border-radius: 8px;
  }
  .start{
    margin: auto;
    position: absolute;
    left: 45%;
    top: 10%;
  }
  .pause{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .scores{
    width: 100%;
    position: absolute;
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}