.body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: calc(25px * 16);
  height: calc(25px * 16);
  color: rgba(0,0,0,0.75);
  text-align: center;
}
